.mobilenav-container {
  mat-toolbar {
    position: fixed;
    bottom: 6px;

    justify-content: center;
    z-index: 1;

    #toolbar-navigate-before {
      position: absolute;
      left: 1rem;
    }

    #toolbar-navigate-forward {
      position: absolute;
      right: 1rem;
    }
  }
}
