<div *ngIf="show" class="mobilenav-container">
  <mat-toolbar color="primary">
    <button
      id="toolbar-navigate-before"
      mat-stroked-button
      (click)="navigateBack()"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>

    <button
      id="toolbar-navigate-forward"
      mat-stroked-button
      (click)="navigateForward()"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-toolbar>
  <!-- Add Content Here -->

  <!-- <div>
    <div loadComponent *ngIf="pageConfig.page" [config]="pageConfig.page">
      <div #target></div>
    </div>
  </div> -->
</div>
