<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/cocktails">Cocktails</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        id="sidenav-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-stroked-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ngx-typed-js
        (lastStringBackspaced)="typingLastStringBackspaced()"
        [strings]="_typeConfig.typeString"
        [loop]="_typeConfig.config.loop"
        [smartBackspace]="true"
        [typeSpeed]="80"
        [backSpeed]="40"
        [backDelay]="1000"
        [startDelay]="1400"
        [showCursor]="_typeConfig.config.showCursor"
      >
        <span class="typing"></span>
      </ngx-typed-js>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
